.root {
  .products {
    .container {
      max-width: 1110px;
      margin: 0 auto;
    }
    h1 {
      color: rgb(247, 210, 45);
      font-size: 32px;
      font-weight: 800;
      line-height: 39px;
      letter-spacing: 0%;
      margin-bottom: 26px;
      text-transform: capitalize;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      row-gap: 49px;
      column-gap: 31px;
    }

    .pagination {
      margin: 50px 0;
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;

      button {
        padding: 7px 25px;
        border-radius: 8px;
        background: rgb(247, 210, 45);
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0%;
      }

      span {
        font-size: 28px;
        font-weight: 500;
        line-height: 39px;
        letter-spacing: 0%;
        text-transform: capitalize;
      }
    }
  }
}
